.root{
    --hbk-green: rgb(106, 180, 103);
    --pink: rgb(230, 129, 129);
}

.card{
    margin:auto
}

@media only screen and (min-width: 768px) {
    .big-background {
      background-image: url(boochers.jpeg);
    }
    .title-tag  {
      position:absolute;
      bottom: -1.5rem;
    }
  }
.indent{
    text-indent: -28px;
    padding-left: 28px;
}

.boochers{
    background-size: cover;
    color:rgb(106, 180, 103);
    text-shadow: 1px 1px rgb(24, 23, 23);
    background-position: center;
    background-image: url(boochers.jpeg);
    min-height: 20rem;
}

.length-longer{
    min-width:30rem;
}

.contact-box{
    width:35rem;
    max-height:10rem;
}

.material-icons{
    font-size:20px;
    color: rgb(106, 180, 103);
}

#large{
    font-size: 50px;
    color:black
}

#med-primary{
    font-size: 24px;
    color:rgb(230, 129, 129);
    text-shadow:black;
}

#hbk-green{
    background-color:  rgb(106, 180, 103);
}

.footer{
    background-color: rgb(106, 180, 103);
}