.indent{
    text-indent: -28px;
    padding-left: 28px;
}

.boochers{
    background-size: cover;
    color:rgb(106, 180, 103);
    text-shadow: 1px 1px rgb(24, 23, 23);
    background-position: center;
    background-image: url(boochers.jpeg);
    min-height: 20rem;
}

.length-longer{
    min-width:30rem;
}

.contact-box{
    width:35rem;
    max-height:10rem;
}

.material-icons-lg{
    font-size: 36px;
}
.material-icons-sm{
    font-size: 24px;
}
